extends partials/project_page

block content
    :marked
        # Desk Lamp 1

        Bent Cherry Veneer, acrylic, LED's. 2016

        **[Simon Lamps Website](http://www.simonlamps.com/)**

        ![](/imgs/desk_lamp_1b/DSCF4294.jpg)
        ![](/imgs/desk_lamp_1b/DSCF4185.jpg)

        ![](/imgs/desk_lamp_1b/IMG_4917.jpg)
        ![](/imgs/desk_lamp_1b/IMG_4918.jpg)
        ![](/imgs/desk_lamp_1b/IMG_4921.jpg)
        ![](/imgs/desk_lamp_1b/IMG_4923.jpg)
        ![](/imgs/desk_lamp_1b/lamp_build_steps.jpg)