extends partials/project_page

block content
    :marked
        # Desk Lamp 2

        Bent Cherry Veneer, acrylic, LED's. 2017

        [Simon Lamps Website](http://www.simonlamps.com/)


        ![](/imgs/desk-lamp-2/DSCF4329.jpg)
        ![](/imgs/desk-lamp-2/IMG_5105.jpg)
        ![](/imgs/desk-lamp-2/IMG_5106.jpg)
        ![](/imgs/desk-lamp-2/IMG_5113.jpg)
