extends partials/project_page

block content
    :marked
        # Desk Lamp 3

        Bent Cherry Veneer, acrylic, LED's. 2018

        [Simon Lamps Website](http://www.simonlamps.com/)

        ![](/imgs/desk-lamp-3/DSCF4126.jpg)
        ![](/imgs/desk-lamp-3/DSCF4376.jpg)
        ![](/imgs/desk-lamp-3/DSCF4511.jpg)
