extends partials/project_page

block content
    :marked
        # Figuration
        Figuration is a film made by Joel Simon and Macha Rose during the [Imagine Science Film Festival](http://imaginesciencefilms.org/ny10) as part of the [Symbios](http://imaginesciencefilms.org/ny10/symbiosis) competition.

        We were randomly paired on the first day and had one week to write, shoot and edit the film. We were both interested in emerging self-editing abilities and the questions they raise. Specifically the discordance between what we want, what we think we want and what we think we should want. We viewed this though the lens of nature vs economics and and how this already currently arises with mass-drug prescriptions in kids.

    iframe(src="https://player.vimeo.com/video/239269440", width="600", height="360", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen>)
