extends partials/project_page

block content
    :marked
        # [Ganbreeder.app](https://www.ganbreeder.app/)

    p Ganbreeder is a collaborative art tool for discovering images. Images are 'bred' by having children, mixing with other images and being shared via their URL. This is an experiment in using breeding + sharing as methods of exploring high complexity spaces. GAN's are simply the engine enabling this. Ganbreeder is very similar to, and named after, #[a(href='http://picbreeder.org/') Picbreeder]. It is also inspired by an earlier project of mine #[a(href='http://www.joelsimon.net/facebook-graffiti.html') Facebook Graffiti] which demonstrated the creative capacity of crowds. Ganbreeder uses #[a(href='https://tfhub.dev/deepmind/biggan-128/2') these] BigGAN models and the #[a(href='https://github.com/joel-simon/ganbreeder') source code] is available.

    blockquote.twitter-tweet.tw-align-center(data-lang='en')
        p(lang='en', dir='ltr')
            | New project: Ganbreeder
            a(href='https://t.co/cib2wI5v9p') https://t.co/cib2wI5v9p
            |  A tool for discovering images via breeding and sharing in-browser. I feel the combination of latent spaces with collaborative interactive evolution has a lot of potential as a design tool. Essentially picbreeder powered by
            a(href='https://twitter.com/Biggan?ref_src=twsrc%5Etfw') @BigGAN
            | .
            a(href='https://t.co/QI9GQcdHSD') pic.twitter.com/QI9GQcdHSD
        | — Joel Simon (@_joelsimon)
        a(href='https://twitter.com/_joelsimon/status/1064556101717377025?ref_src=twsrc%5Etfw') November 19, 2018
    script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')

    h2 Some Discovered Photos
    img(src='/imgs/gangrid.jpg')
