extends partials/project_page

block content
    :marked
        # Head in Hands

        Fired Clay 2012
        ![](/imgs/head-in-hands/IMG_0154.JPG)
        ![](/imgs/head-in-hands/IMG_0162.JPG)
        ![](/imgs/head-in-hands/IMG_0161.JPG)
        ![](/imgs/head-in-hands/IMG_0157.JPG)


