extends partials/project_page

block content
    :marked
        # Maria
        ### 2013
        Maria is a life-size plaster cast sculpture sculpted from a model at the Art Students League in midtown NYC.

        ![](/imgs/maria/IMG_1060.JPG)
        ![](/imgs/maria/IMG_1028.JPG)
        ![](/imgs/maria/IMG_0974.JPG)
        ![](/imgs/maria/IMG_0931.JPG)

        ## Casting
        This was my first (and only) life size casting. A plaster waste-mold method is used. It took about three weeks of 8-10 hour days and much more after that to fix the damage created during casting.

        The first step is to place lines of metal shims (cut soda cans) into the sculpture to create the mold piece partitions. The front-side is one large piece and the back contains many smaller ones.
        ![](/imgs/maria/casting/IMAG0693.jpg)

        The sculpture is covered in two layers of plaster, burlap and a metal exoskeleton for support.  
        ![](/imgs/maria/casting/IMAG0699.jpg)
        
        After the plaster has dried the small back pieces are removed and the clay is carved out. 
        ![](/imgs/maria/casting/IMAG0703.jpg)


        The mold is cleaned and prepared for plaster filling. The surface of the mold is covered with soap so that the plaster of the cast does not bind with the plater of the mold. Small holes and cracks are filled with clay.
        ![](/imgs/maria/casting/IMAG0709.jpg)

        To create a hollow cast, the mold is covered with a thin layer of plaster which is reinforced by burlap and a metal skeleton.
        ![](/imgs/maria/casting/IMAG0715.jpg)

        The back pieces are added on one at a time by adding plaster to the seams from the inside.
        ![](/imgs/maria/casting/IMAG0719.jpg)

        The complete (and now very heavy) assembly. 
        ![](/imgs/maria/casting/IMAG0723.jpg)


        The mold is broken off to reveal the sculpture beneath. 
        ![](/imgs/maria/casting/IMAG0725.jpg)


        The removal of the mold reveals all the seam lines and damage that will have to be repaired.
        ![](/imgs/maria/casting/IMAG0726.jpg)


        Celebrating the finished sculpture with the others sculptors!
        ![](/imgs/maria/casting/IMAG0734.jpg)
