extends partials/project_page

block content
    h1 Table Lamp 4
    p.centered Cherry Wood, acrylic, LED's. 2015 
    p.centered: a(href='http://www.simonlamps.com/') Simon Lamps Website
    video(autoplay=true, muted=true)
        source(src="/imgs/table-lamp-4/lamp_video.mp4", type="video/mp4")

    :marked
        ![](/imgs/table-lamp-4/lamp1.jpg)
        ![](/imgs/table-lamp-4/lamp2.jpg)
    

