extends partials/project_page

block content
    :marked
        # Dimension of Dialogue Tablets

        ### A continuation of my [*Dimension of dialgue*](/dimensions-of-dialogue.html) project

        *Dimensions of Dialogue* is the result of two neural networks learning how to communicate through their own visual language. The resulting alphabet is a product of their adversarial and cooperative relationship. Resembling early proto-writing systems such as cuneiform and hieroglyphs, this tablet contains the alphabet of their emergent language.

        These were shown at Ars Electonica 2019 and will be in the NeurIPS AI for creativity show.

        ![](/imgs/tablets/IMG_9724.jpg)

        ![](/imgs/tablets/IMG_9734.jpg)

        ![](/imgs/tablets/IMG_9747.jpg)

        ![](/imgs/tablets/IMG_9727.jpg)

    blockquote.twitter-tweet.tw-align-center
      p(lang='en' dir='ltr')
        | There is also an AR layer (made with
        a(href='https://twitter.com/artivive?ref_src=twsrc%5Etfw') @Artivive
        | ) displaying the evolution of the language
        a(href='https://t.co/ontRjHiIoV') pic.twitter.com/ontRjHiIoV
      | &mdash; Joel Simon (@_joelsimon)
      a(href='https://twitter.com/_joelsimon/status/1166839124990382080?ref_src=twsrc%5Etfw') August 28, 2019
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')

    :marked
        The tablets were made by CNCing unfired clay.

        ![](/imgs/tablets/IMG_8502.jpg)