extends partials/project_page

block content
    :marked
        # Table Lamp 3

        Bent Cherry Veneer, acrylic, LED's. 2015

        [Simon Lamps Website](http://www.simonlamps.com/)

        ![](/imgs/table-lamp-3/IMG_5139.jpg)
        ![](/imgs/table-lamp-3/IMG_5146.jpg)
        ![](/imgs/table-lamp-3/IMG_5136.jpg)
