extends partials/project_page

block content
    :marked
        # Table Lamp 2

        Bent Cherry Veneer, acrylic, LED's. 2015

        [Simon Lamps Website](http://www.simonlamps.com/)

        ![](/imgs/table-lamp-2/IMG_2741.jpg)
        ![](/imgs/table-lamp-2/IMG_2753.jpg)
        ![](/imgs/table-lamp-2/IMG_2772.jpg)
        ![](/imgs/table-lamp-2/IMG_5122.jpg)
