extends partials/project_page

block content
    :marked
        # Wall Lamp

        Bent Cherry hardwood, acrylic, LED's. 2016

        [Simon Lamps Website](http://www.simonlamps.com/)

        ![](/imgs/wall-lamp/1.jpg)
        ![](/imgs/wall-lamp/2.jpg)
        ![](/imgs/wall-lamp/3.jpg)
        ![](/imgs/wall-lamp/4.jpg)


        ## Process
        More coming...
        ![](/imgs/wall-lamp/bending.jpg)
