
body {
  margin: 0px;
  background-color: #fafafa;
}


/* -------------------------------------------------------------------------- */

#label_container {
  width: 80%;
  padding-left: 10%;
}

#label_container h3 {
}

#project_container {
  /*width: 100%;*/
  /*padding-left: 0%;*/
  margin-bottom: 100px;
  margin: 1%;

}

h1 {
  font-size: 3em;
  margin-bottom: .25em;
}

/* -------------------------------------------------------------------------- */
/* Labels. */

.label {
  /*float: left;*/
  color: gray;
  display:inline-block;
  margin-right: 1em;
  text-transform: capitalize;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#label_container h3 {
/*  margin-bottom: 0px;
  margin-top: 0px;*/
}

.label.label_hidden {
  opacity: 0.3;
}

.label h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* Projects. */

.project {
  width: 256px;
  transition: all .2s ease-in-out;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  position: relative;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);



}

.project .project_name {
  margin: 0.25em;
}

.project .description {
  margin: 0.25em;
}

.project p.date {
  position: absolute;
}

.project img {
  width: 256px;
  max-height: 256px;
}

.project a {
  /*display: inline-block;*/
}
.project .project_content {
  /*position: absolute;*/
  /*bottom: 0px;*/
}

.project:hover {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);*/

}

.show-on-hover {

  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
}

.project:not(.no_hover):hover {
  cursor: pointer;
  /*-ms-transform: scale(1.1, 1.1);*/
  /*-webkit-transform: scale(1.1, 1.1);*/
  /*transform: scale(1.1, 1.1);*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*-webkit-filter: grayscale(1);*/
  /*filter: grayscale(1);*/
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.project:not(.no_hover):hover .show-on-hover {
  opacity: 1.0;
}


/* -------------------------------------------------------------------------- */
/* Labels in projects. */


.project .label {

  display: inline-block;
  /*float: left;*/
  font-size: 0.8em;
  /*margin: 0px;*/
  margin-top: 0px;
  /*margin-right: 5px;*/
}
.project .label h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}


.project .project_labels {
  /*position: absolute;*/
}

/* -------------------------------------------------------------------------- */
/* Image Grid. */
.image_grid {
  /*display:inline-block;*/

}
.image_grid img {
  display:inline-block;
  width: 180px;
  /*max-width: 25vw;*/
  /*float: left;*/
  margin: 10px;
}



/* -------------------------------------------------------------------------- */
video {
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */

/* ----------- iPhone 5 & 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .project .show-on-hover {
    opacity: 1.0;
  }


}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      font-size: 2em;

    }
    .project .label {
      font-size: 0.6em;
    }

    #label_container h3 {
      font-size: 1.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
/*    * {
      font-weight: bold;
    }*/
    .project {
      width: calc(50% - 20px);
      padding-bottom: 10px;
    }
    .project img {
      width: 100%;
      max-width: inherit;
      max-height: inherit;

    }
    .project h2 {
      /*height: 2.5em;*/
      margin: 0px;
    }

    .project .label h3 {
      font-size: 1.5em;
    }

    #project_container {
      width: 100%;
      padding-left: 0%;
      margin-bottom: 20%;
    }

/*    #label_container h3 {
      font-weight: bold;
      font-size: 3em;
    }*/

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #label_container h3 {
      font-size: 2em;
    }

}

