.text_body img {
  max-width: 100%;
  /*max-height: 80vh;*/
  /*margin-top: 2%;*/
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.img_medium {

}

/* body {
  margin-bottom: 6em;
} */

.text_body h2, .text_body h3 {
  margin-top: 1.5em;
}

.text_body blockquote {
  font-size: .75em;
}

.text_body {
  width: 900px;
  max-width: 90%;
  left: 0px;

  /*overflow: hidden;*/
  margin: 0 auto;
  /*margin-bottom: 100px;*/
}


.text_body p {
  font-size: 1.25em;
}
.text_body p:not(.centered) {
  text-align: justify;
}

.centered {
  text-align: center;
}

.text_body a {
  /*color: rgb(176, 172, 249);*/
  color: gray;
  text-decoration: underline;
}

video {
  max-width: 100%;
}
video::-webkit-media-controls-start-playback-button {
  display: none;
}

.align_left * {
  text-align: left;
}

strong {
  font-weight: bold;
}
