img {
  max-width: 100%;
  max-height: 80vh;
  margin-top: 2%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

body {
  margin-bottom: 100px;
}

.text_body blockquote {
  font-size: .75em;
}

.text_body {
  width: 900px;
  max-width: 90%;
  left: 0px;

  /*overflow: hidden;*/
  margin: 0 auto;
  /*margin-bottom: 100px;*/
}
.text_body p {
  text-align: justify;
  font-size: 1.25em;
}

.text_body a {
  /*color: rgb(176, 172, 249);*/
  color: gray;
  text-decoration: underline;
}

a:hover {
  /*text-decoration: underline;*/
}

video {
  max-width: 100%;
  /*max-height: calc(100vh - 100px);*/
}
video::-webkit-media-controls-start-playback-button {
    display: none;
}


.align_left * {
  text-align: left;
}

/*.figure p {
  text-align: center;
}*/

strong {
  font-weight: bold;
}
