extends partials/project_page.jade


block style
    style.
        li {
            text-align: left;
        }
        .row {
            display: flex;
            flex-direction: row;
        }
        .item {
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
            //- padding: 10px;
        }
        .item h2 {
            margin: 0px;
        }
            

block content
    //- I studied computer science and fine art at Carnegie Mellon University before working on bioinformatics at Rockefeller University in NYC where I worked until 2018. I am interested in the intersection of computer science, biology and design as well as furniture-design, collaborative-creativity, sculpture and game-design.
    //- I am

    :markdown
        # About
        I am a multidisciplinary artist / toolmaker / researcher who studied computer science and art at Carnegie Mellon University before working on bioinformatics at Rockefeller University. I am the founder / director of [Morphogen](https://www.morphogen.io/), a generative design company developing [Artbreeder](https://www.artbreeder.com/), a massively collaborative creative tool and network.  My works are somewhere in the region between art, design and research and inspired by the systems of biology computation and creativity.

    .row 
        .item
            h2 Interviews
            ul
                li
                    | 2020 - Video Profile by Science Friday - 
                    a(target='_blank' href='https://youtu.be/oP4nK61CcbA') Building Beauty with Biology
                li
                    | 2020 - 
                    a(target='_blank' href='https://francovarriano.com/techart') Tech+Art Podcast
                li
                    | 2020 - 
                    a(target='_blank' href='https://soundcloud.com/ieeeras-softrobotics/joel-simon-art-machine-intelligence-and-soft-robotics-design') IEEE Soft Robotics Podcast
                li
                    | 2019 - 
                    a(target='_blank' href='https://www.dezeen.com/2019/01/03/evolving-floor-plans-research-joel-simon/') Dezeen - Evolving Floor Plans
                li
                    | 2017 - 
                    a(target='_blank' href='https://www.labocine.com/spotlight/146') Labocine - Ecology Modeling
                li
                    | 2015 - 
                    a(target='_blank' href='https://creators.vice.com/en_us/article/78exwy/now-you-can-graffiti-your-friends-facebook-walls') Creators Projects - Facebook Graffiti

            //- :markdown
                ##Interviews

                * 2020 - [Video Profile by Science Friday](https://youtu.be/oP4nK61CcbA)
                * 2020 - [Tech+Art Podcast](https://francovarriano.com/techart)
                * 2020 - [IEEE Soft Robotics Podcast](https://soundcloud.com/ieeeras-softrobotics/joel-simon-art-machine-intelligence-and-soft-robotics-design)
                * 2019 - [Dezeen - Evolving Floor Plans](https://www.dezeen.com/2019/01/03/evolving-floor-plans-research-joel-simon/)
                * 2017 - [Labocine - Ecology Modeling](https://www.labocine.com/spotlight/146)
                * 2015 - [Creators Projects - Facebook Graffiti](https://creators.vice.com/en_us/article/78exwy/now-you-can-graffiti-your-friends-facebook-walls)
        .item
            h2 Exhibits
            ul
                li
                    | 2020 - 
                    a(target='_blank' href='http://www.aiartonline.com/') NeurIPS Workshop on Machine Learning for Creativity and Design
                li
                    | 2020 - 
                    a(target='_blank' href='https://www.arebyte.com/real-time-constraints') Arebyte Gallery
                li 2019 - Ars Electronica
                li 2019 - NeurIPS Workshop on Machine Learning for Creativity and Design
                
            //- :markdown
                ##Exhibits
                * 2020 - [NeurIPS Workshop on Machine Learning for Creativity and Design](http://www.aiartonline.com/)
                * 2020 - [Arebyte Gallery](https://www.arebyte.com/real-time-constraints)
                * 2019 - Ars Electronica
                * 2019 - NeurIPS Workshop on Machine Learning for Creativity and Design

    .row
        .item
            h2 Invited Talks
            ul
                li
                    | 2021 - 
                    a(target='_blank' href='https://slideslive.com/38969309/from-technologies-to-tools?ref=account-folder-92044-folders')
                        | NeurIPS - Machine Learning for Creativity and Design
                    |  - 

                li
                    | 2020 - 
                    a(target='_blank' href='https://ali-design.github.io/deepcreativity/')
                        | MIT 6.S192: Deep Learning for Art, Aesthetics, and Creativity
                    |  - 
                    a(target='_blank' href='https://youtu.be/I0V2UTKIei0') Youtube
                li
                    | 2019 - Bay Area Maker Faire - 
                    em Augmenting Creativity With Massively Collaborative Creative Tools
                li
                    | 2019 - 
                    a(target='_blank' href='https://www.recessart.org/') Recess Art
                    |  - 
                    em Biologically Inspired
                li 2019 - Uber AI Labs
                li 
                    | 2019 - Rutgers University - 
                    a(target='_blank' href='https://www.youtube.com/watch?v=8L1bNz4YYjg')
                        | Computational / Biological Design
                li 2019 - Adobe AI Labs

            //- :markdown
                ##Talks
                * 2020 - [MIT 6.S192: Deep Learning for Art, Aesthetics, and Creativity]( https://ali-design.github.io/deepcreativity/) - [Youtube](https://youtu.be/I0V2UTKIei0)
                * *Biologically Inspired* - [Recess Art](https://www.recessart.org/), May 30th
                * *Augmenting Creativity With Massively Collaborative Creative Tools* - Bay Area Maker Faire,  May 19.
                * Uber AI Labs - Apr 24
                * [*Computational / Biological Design*](https://www.youtube.com/watch?v=8L1bNz4YYjg) - Rutgers University, March 13
                * Adobe AI Labs - Feb 14
        .item
            h2 Publications
            ul
                li
                    | 2021 - 
                    a(target='_blank' href='https://www.morphogen.io/research/sculpting_with_words.pdf')
                        | Sculpting with Words
                li
                    | 2020 - 
                    a(target='_blank' href='https://dl.acm.org/doi/abs/10.1145/3377929.3398156')
                        | Antimander: open source detection of gerrymandering though multi-objective evolutionary algorithms
                li
                    | 2020 - 
                    a(target='_blank' href='https://arxiv.org/pdf/2010.12324.pdf')
                        | ML-assisted image generation to engage the crowd in complex socioscientific problems
                li
                    | 2020 - 
                    a(target='_blank' href='https://www.mdpi.com/2071-1050/12/11/4393')
                        | Self-Organizing Floor Plans in Care Homes
                li
                    | 2018 - 
                    a(target='_blank' href='https://www.sciencedirect.com/science/article/abs/pii/S0022175918303028?via%3Dihub')
                        | Sequencing the peripheral blood B and T cell repertoire &ndash; Quantifying robustness and limitations

            //- :markdown
                ##Publications

                * 2020 - Antimander: open source detection of gerrymandering though multi-objective evolutionary algorithms. 
                * Sequencing the peripheral blood B and T cell repertoire: Quantifying robustness and limitations
                * ML-assisted image generation to engage the crowd in complex socioscientific problems
                * Self-Organizing Floor Plans in Care Homes
    br  
    img(src='/imgs/lamp_me2.jpg', width=600)
