extends partials/project_page

block content
    :markdown
        # Evolving Alien Corals Video
        An animation of my [generative corals research](/corals.html) made by [Nic Symbios](http://www.symbios.wiki/) and myself. This work was a finalist in the 2019 [virtual creatures competition](https://virtualcreatures.github.io/) held at the Genetic and Evolutionary Computation Conference (GECCO). The competition is the intersection of artificial life research and art. Nic did all of the wonderful animation and rending.

block post_text
    iframe(src="https://player.vimeo.com/video/347792384", width="1000", height="420", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen>)
