extends partials/project_page.jade

block content
    :markdown
        # Cornered Hands
        Fired clay and spray paint. Made at Carnegie Mellon in 2012.

        ![](/imgs/cornered-hands/1.jpg)
        ![](/imgs/cornered-hands/2.jpg)

        ## Process
        Firing the hands was not easy, I had been used to plaster casting but neither the facilities nor schedule allowed for it. The hands were carefully hollowed out and left to dry.
        ![](/imgs/cornered-hands/clay.jpg)

        A friend took a picture of my hands for the reference.
        ![](/imgs/cornered-hands/reference.jpg)
