extends partials/project_page.jade

block content
    :markdown
        # Ecology Modelling

        A write up is coming soon!


        ![alt text](imgs/ecology-modelling/001100.jpg)

    //- ![alt text](/imgs/004620.jpg "Logo Title Text 1")
