extends partials/project_page.jade

block content
    :markdown
        #Facebook Graffiti

        FB Graffiti is a chrome extension that exposes every photo on Facebook to graffiti. The drawings are anonymous, persistent, public and collaborative. The purpose of FB Graffiti is twofold. First, to enable a second layer of conversation on top of Facebook. The highly controlled and curated nature of conversations on Facebook is not conducive to many forms of conversation and also not analogous to real 'walls.' For better or worse, anonymous writings allow this. Second, it allows any image to be a space for collaborative art that is deeply connected to its context (the page it is on and the content it is on).  Wandering Facebook can now be a process of discovery, coming across old artworks and conversations scattered across all of the site.

        FB graffiti had a large increase in usage after the Charlie Hebdo terrorist attacks in January 2015. The graffiti became increasingly politicized. Most French politicians had their photos covered with graffiti (examples below). Je Suis Charlie became a common graffiti motif. The graffiti was rarely flattering or polite, but proved an interesting example of collective political discord.

        ​Press

        [Creators Project](thecreatorsproject.vice.com/blog/now-you-can-graffiti-your-friends-facebook-walls)

        [www.lebonbon.fr](http://www.lebonbon.fr/lifestyle/fb-graffiti-le-plug-des-amateurs-de-tag/)

        [madmoizelle](http://www.madmoizelle.com/fb-graffiti-tags-facebook-317581)
