extends partials/project_page

block content
    :markdown
        # Graph Contraction

        The below are experiments applying a [graph contraction algorithm](http://www.cs.cmu.edu/afs/cs/academic/class/15210-s12/www/lectures/lecture18.pdf) to different 3d models. The algorithm is utilizes randomness and is interesting for being concurrent. This was a short Sunday project.

        ![](/imgs/graph-contraction/merged_1.jpg)

        ![](/imgs/graph-contraction/graph-contraction.png)
