extends partials/project_page

block content
    :markdown
        #Image To Paint

        This program turns any image into a series of brushstrokes. Changing parameters result in different painting styles.

        [Github](https://github.com/Sloth6/image-to-paint)

        ![](/imgs/image-to-paint/cat.jpg)

        ![](/imgs/image-to-paint/cody.jpg)

        ![](/imgs/image-to-paint/cody2.png)
