extends partials/project_page

block content
    :markdown
        #Mosaic Table
        ## 2007

        ![](/imgs/mosaic-table/table.png)
        ![](/imgs/mosaic-table/table2.jpg)
        ![](/imgs/mosaic-table/table3.jpg)
        ![](/imgs/mosaic-table/close.jpg)
