extends partials/project_page.jade

block content
    :markdown
        # Plant Lamp

        This lamp is a mild departure from my past lamps in it's function, form and construction. The plants in my room were doing poorly this summer since my air conditioner was blocking their light. Instead of building the light box out of LED strips, I bought a [growth lamp](https://www.amazon.com/UNIFUN-Growing-Hydroponic-Aquatic-Indoor/dp/B01F53LP46/ref=lp_14252941_1_5) I found on amazon and designed the lamp around it. The light has multiple wavelengths of light including IR and UV.

        I wanted the lamp to present the plants inside and not distract from them or dominate attention. I looked at amphitheaters, shrines and greenhouses for inspiration.

        ![](/imgs/plant-lamp/IMG_5451.jpg)
        ![](/imgs/plant-lamp/IMG_5446.jpg)
        ![](/imgs/plant-lamp/IMG_5435_2.jpg)
        ![](/imgs/plant-lamp/IMG_5457.jpg)
        ![](/imgs/plant-lamp/IMG_5427.jpg)


        ![](https://images-na.ssl-images-amazon.com/images/I/81fQh5SfRbL._SL1500_.jpg)
