extends partials/project_page.jade

block content
    :markdown
        # Scrap
        Scrap is a simple tool for collecting and sharing scraps of information, like a camera roll for things you want to remember. The work shown here is a summary of the design process thus far.

    h2 Horizontal scroll design
    video(controls, loop, width="600px")
        source(src="/video/scrap/nav_720.mov")

    h2 Grid with labels
    video(controls, loop, width="600px")
        source(src="/video/scrap/2d_720.mov")
