extends partials/project_page

block content
    :markdown
        # Sculpture Drop
        Inspired by the beauty of degraded classical sculptures, this work is an embrace of aesthetics of decay. By using special effects software, the dropping and shattering of sculptures is modeled computationally.

        There is a long history in sculpture of appreciation of degradation and incompleteness including the neoclassical admiration of Roman ruins and Michelangelo being asked to bury and 'uncover' his St. John the Baptist. However, this aesthetic has traditionally been mimicry, the artist not fully yielding control to the unpredictable.

        Here are early results with my own sculpture [Tanya](/tanya.html).

        ![](/imgs/sculpture-drop/tanya_out_2.png)
        ![](/imgs/sculpture-drop/knee.jpg)
        ![](/imgs/sculpture-drop/tanya_out_6.png)

        This uses FractureRB, Fast approximations for boundary element based brittle fracture simulation, SIGGRAPH 2016.
