extends partials/project_page.jade

block content
    :markdown
        # Slice
        Slice is a parametric openScad tool for slicing and deforming models. The brain is particularly good at identifying other human faces and interesting properties arise when deformations occur. Simple geometric deformations enter the surreal while staying out of uncanny valley.

        [Github](https://github.com/Sloth6/STLslicer)

        ![](/imgs/slice/head_5_1.jpg)
        ![](/imgs/slice/head_2_1.jpg)
        ![](/imgs/slice/head_3_2.jpg)
