extends partials/project_page.jade

block content
    :markdown
        # Small Talk Robot
        2012

        The SmallTalk robot connects to the internet and makes small talk about the weather, the news, the day of the week and more. It has onboard text-to-speech capabilities as well as text display on a bicolor LED array.

        ![](/imgs/smalltalk/smalltalk.jpeg)

        The robot was part of the [Robots of Unusual Sizes](http://triblive.com/aande/2125952-74/robot-robots-says-exhibit-piece-art-talk-gallery-human-jones#axzz3php54Xmj) exhibit at Pittsburgh's FE gallery. Here's an excerpt from a review by art critic Kurt Shaw in The Pittsburgh Tribune-Review:

        > Like Upchurch’s pieces, Carnegie Mellon University art and computer science student Joel Simon’s “Small Talk Robot” engages visitors with direct communication. However, instead of just sound, it uses text and data culled from the Internet and puts it in the form of questions. As if engaging in small talk, an LED screen flickers real-time text punctuated with typical small-talk questions and phrases like “How about that?” and “I hate Mondays.”

        > Simon says motivation for the piece came from a desire to have viewers explore their relationship with robots and their everyday use of small talk. “If a robot is capable of small talk, and small talk is often the majority of a relationship, then that says something.”

        > There also is humor in the piece, as it makes fun of how silly and ridiculous small talk is. Another element is that, while the piece is openly absurd in itself, robot companionship is becoming increasingly practical and useful.

        > “If the elderly can have robotic animals to keep them company, then why can’t the rest of us have robots to fill in at cocktail parties and art-gallery openings for us?” Simon asks.
