extends partials/project_page.jade

block content
    :markdown
        # Table Lamp 4
        Cherry Wood, acrylic, LED's. 2015
        ** [Simon Lamps Website](http://www.simonlamps.com/) **
    video(autoplay=true, muted=true)
        source(src="/imgs/table-lamp-4/lamp_video.mp4", type="video/mp4")

    :markdown
        ![](/imgs/table-lamp-4/lamp1.jpg)
        ![](/imgs/table-lamp-4/lamp2.jpg)
    

