extends partials/project_page.jade

block content
    :markdown
        # Tanya

        Tanya is a plaster cast sculpture from a model at the Art Students League in midtown NYC.

        ![](/imgs/tanya/DSC_0389.JPG)

        ![](/imgs/tanya/DSC_0412.JPG)

        ![](/imgs/tanya/DSC_0397.JPG)

        ![](/imgs/tanya/DSC_0400.JPG)

        ## Casting
        The first step to a plaster waste caste mold is to partition the surface into several areas using metal strips from cut up soda cans. Each area is covered in an inch of plaster. Burlap and metal rods add support.
        ![Casting 1](/imgs/tanya/casting/1.jpg "Casting 1")
        Water is poured on the mold so the clay expands and becomes less attached to the plaster. Each piece is then carefully removed.
        ![Casting 2](/imgs/tanya/casting/2.jpg "Casting 2")
        The original clay sculpture is torn out and the clean clay recycled.
        ![Casting 3](/imgs/tanya/casting/3.jpg "Casting 3")
        The final pieces are coated in soap to prevent the plaster from binding to the mold.
        ![Casting 4](/imgs/tanya/casting/4.jpg "Casting 4")
        Metal rods are positioned inside to provide support for the final plaster. The mold is then reassembled so that plaster can be poured in the bottom.
        ![Casting 6](/imgs/tanya/casting/6.jpg "Casting 6")
        The mold is chipped away, revealing the sculpture beneath. A lot of sanding and repair is then needed.
        ![Casting 7a](/imgs/tanya/casting/7a.jpg "Casting 7")

        ![Casting 7](/imgs/tanya/casting/7.jpg "Casting 7")

        Nearly Finished.
        ![Casting 8](/imgs/tanya/casting/8.jpg "Casting 8")


