extends /partials/project_page
include /partials/image_grid

block meta_tags
    - var domain = 'http://www.joelsimon.net'
    meta(property="og:title", content="Evolving Alien Corals")
    meta(property="og:description", content="Alien Corals - 2018.")
    meta(property="og:image", content=domain+'/')
    meta(property="og:url", content=domain+'/')
    meta(property="og:type", content='blog')

    script(defer, src='/src/virtual_corals/main.js')
    script(defer, src='/src/virtual_corals/header.js')

    script(defer, src='/src/virtual_corals/evolution.js')


    script(defer, src='/src/virtual_corals/lib/three.js')
    script(defer, src='/src/virtual_corals/mesh.js')
    script(defer, src='/src/virtual_corals/utils.js')
    script(defer, src='/src/virtual_corals/lib/stats.min.js')
    script(defer, src='/src/virtual_corals/lib/OrbitControls.js')

    script(defer, src='/src/virtual_corals/world.js')

    link(rel='stylesheet', href='/style/corals.css')
    link(rel='stylesheet', href='/style/evolution.css')

block pre_header
    #header_container
        h1.no_select EVOLVING ALIEN CORALS
        video(src="/imgs/virtual-corals/58A2_g360/out.mp4" autoplay)
    #scroll_padding
    #fullscreen_container
        img#haeckal(src = '/imgs/virtual-corals/haeckal_half/frame-1.jpeg', style='display:none;')
        //- img#haeckal(src = '/imgs/virtual-corals/haeckal_half/frame-1.jpeg', style='')

block content

block post_text
    .text_body
        .nav
            a(href='#visual_results') Visual Results
            a(href='#background') Background
            a(href='#algorithm') Methods
            a(href='#technical_results') Technical Results
            a(href='#discussion') Discussion

        :markdown
            A research project simulating the evolution of virtual corals. Corals are grown in a simulated underwater environment and evolved with a genetic-algorithm. Morphogens, signaling, memory and other biologically motived capacities enable a multipurpose biomemetic form optimization engine. This work is part of a series of personal side projects exploring emergent and generative forms. The creation of and control over optimized and emergent forms, not limited by training data, interests me for its many potential applications in art, design and engineering.

        h1#visual_results Visual Results
    //- .text_body
    h2 Virtual Reef
    p Drag to rotate, right click and drag to pan.
    p Click on a coral to watch it grow.



    #webgl_container.text_body
        .controls.add_coral.text_body.no_select
            p Add Coral
        img.controls.zoom-in(src="coral_data/zoom-in.svg",width="5%")
        img.controls.zoom-out(src="coral_data/zoom-out.svg",width="5%")
        img.controls.maximize(src="/imgs/virtual-corals/maximize.svg",width="5%")

        //- img.controls.clear(src="/imgs/virtual-corals/x.svg",width="40px")

    p Colors represent the multiple evolved morphogens (more on that later).
    p (each coral consumes ~10MB of data)

    .text_body
        :markdown
            ## Environments
            Corals were evolved in multiple varying environments. In the results below, the environments are identical except for the depth below the surface and the ratio of current flow to light.

        h3(style='margin-bottom:0px;') Increasing light -->
        h3.vertical_text.image_grid_left <-- Increasing Depth
        .image_grid2()
            img.coral(data-coral='H2ED_g362',data-src='/imgs/virtual-corals/corals/H2ED.png')
            img.coral(data-coral='NJFG_g183',data-src='/imgs/virtual-corals/corals/NJFG.png')
            img.coral(data-coral='KX43_g91',data-src='/imgs/virtual-corals/corals/KX43.png')

            img.coral(data-coral='C0JH_g62',data-src='/imgs/virtual-corals/corals/COJH.png')
            img.coral(data-coral='2F64_g488',data-src='/imgs/virtual-corals/corals/2F64.png')
            img.coral(data-coral='P8QV_g101',data-src='/imgs/virtual-corals/corals/P8QV.png')

            img.coral(data-coral='LEXL_g100',data-src='/imgs/virtual-corals/corals/LEXL.png')
            img.coral(data-coral='J2PQ_g320',data-src='/imgs/virtual-corals/corals/J2PQ.png')
            img.coral(data-coral='B3DN_g111',data-src='/imgs/virtual-corals/corals/B3DN.png')


    .text_body
        h2 Evolution


        p Optimized corals are the result of many generations of evolution. The ancestor corals produced during evolution are often much wilder and weirder. Each of the dozens of runs produced an interesting evolutionary progression, so I have picked some randomly. Below, the corals increase from generation 0 on the left to the most evolved on the right.
        p.center Drag the slider to see the change over evolution.
        .evolution_container
            .evolution_item(data-path='5JF8', data-num=26)
            .evolution_item(data-path='H2ED', data-num=23)
            .evolution_item(data-path='KX43', data-num=22)

            .evolution_item(data-path='NP90', data-num=28)
            //- .evolution_item(data-path='LEXL', data-num=22)
            //- .evolution_item(data-path='VDVB_evolve', data-num=24)
            //- .evolution_item(data-path='J2PQ_evolve', data-num=26)
            //- .evolution_item(data-path='3SW5_evolve', data-num=30)
            //- .evolution_item(data-path='79AD_evolve', data-num=21)
            //- .evolution_item(data-path='2F64_evolve', data-num=30)

            .slidecontainer
                input.slider(type='range', min='0', max='1', value='0', step='.0625')


        .evolution_container
            .evolution_item(data-path='LEXL', data-num=22)
            .evolution_item(data-path='VDVB_evolve', data-num=24)
            .evolution_item(data-path='J2PQ_evolve', data-num=26)
            .evolution_item(data-path='3SW5_evolve', data-num=30)
            //- .evolution_item(data-path='79AD_evolve', data-num=21)
            //- .evolution_item(data-path='2F64_evolve', data-num=30)

            .slidecontainer
                input.slider(type='range', min='0', max='1', value='0', step='.0625')

    .text_body

        //- img(src='/imgs/virtual-corals/growth.jpg', style='width:100vw;')

        h2 Different morphogen patterns.
        p The reaction diffusion
        //- .image_grid2()
        p Stripes
        img.coral(data-coral='H2ED_g362',data-src='/imgs/virtual-corals/corals/H2ED.png', style='width:200px')
        p foo
        //- img.coral(data-coral='H2ED_g362',data-src='/imgs/virtual-corals/corals/H2ED.png')
        //- img.coral(data-coral='H2ED_g362',data-src='/imgs/virtual-corals/corals/H2ED.png')
        //- img.coral(data-coral='H2ED_g362',data-src='/imgs/virtual-corals/corals/H2ED.png')

        //- ul
        //-     li stripes
        //-     li tips
        //-     li dots
        //-     li rings
        //-     li circles


    .text_body
        h1#background Background

        p This work was inspired by several fields of research, each of which I will briefly summarize to familiarize the reader and point them in a direction to learn more.

        h2 Genetic Algorithm & Artificial Life
        p Foremost are genetic algorithms and artificial life, which are two separate but entwined fields. Like most others, I was inspired by Karl Sims iconic Virtual Creatures (1994). However, what interest me almost as much as the work, was why

        h2 Corals
        p Corals are not plants but colonies of genetically identical organisms called polyps which are attached to one another and act as a single entity. Polyps are actually very similar to Jellyfish and collect nutrients from a symbiotic relationship with photosynthetic bacteria living inside them called Zooxanthellae and from small plankton which they catch. Polyps deposit calcium beneath them which produces their structures. There are many different types of corals with varying forms and environments. Some do not use Zooxanthellae and others do so entirely.

        h2 Coral Modeling
        p There are some instances of academic coral modeling [1,2] which have investigated the result of environment on coral morphologies. These systems use more sophisticated fluid simulations but none have, to my knowledge, modeled the genetics or signaling of the polyps. By only having to simulate the growth once, much more expensive and accurate fluid dynamics can be modeled. Corals were chosen because their properties were compatible with the simplifications of this growth model (discussed more below).

        h2 Generative Plants
        p There is a huge body and history of work modeling plants, particularly by mathematicians and artists.



        h2 Emergent Computational Forms
        h3 Cppns

        h2 Embryogenesis

    .text_body
        //- img(src='/imgs/virtual-corals/l-system.png', style='width:600px;')
        :markdown
            From [The Algorithmic Beauty of Plants](http://algorithmicbotany.org/papers/abop/abop.pdf)

        //- ### An Elkhorn Coral
        //- img(src='/imgs/virtual-corals/elkhorn_coral.jpg', width=400)

        h1#algorithm Methods
        a(href='https://github.com/Sloth6/coral-growth') Code on Github


        p Each genome consists of a neural network and vector of attributes. The forms are grown by starting with a seed mesh and using the network to control the growth of every vertex (here representing a polyp) at every growth step. The network also controls the output of reaction-diffusion morphogens and vertex-vertex signaling which allow emergent patterns to direct growth. The network is evolved with the NEAT neuro-evolution algorithm. Other genome attributes control global properties such as decay rates for morphogens, signals and nutrients.

        //- p as only modeling the surface. Additionally, plants would require modeling multiple cell types and soft deformations, which I would eventually like to add. Therefore, what makes these forms corals is essentially a fitness function that rewards capturing sunlight and current flow.

        //- h2
        div.align_left(style='display:inline-block;')

            p DISCUSS ENERGY DIFFUSION AND TYPES OF SIGNALS

            :markdown
                Simulation Overview

                * **Repeat until end condition reached** (max-vertices's, max-volume or max-steps):
                    2. **Compute network values for every vertex using local attributes.**
                    3. **Move polyps in normal direction by growth output magnitude.**
                    4. **Fix collisions.**
                        * Spatial hashing with triangle-triangle intersection detection.
                    5. **Relax mesh.**
                        * Laplacian smoothing with back projection of old position onto new normal vector.
                    6. **Adaptively Subdivide mesh and create new polyps.**
                        * I implemented this [adaptive sqrt3 subdivision](https://www.graphics.rwth-aachen.de/media/papers/sqrt31.pdf)  method.
                    1. **Calculate new polyp attributes.**
                        * Calculate light, current-flow, surface curvature, reaction diffusion, signal diffusion.

                Genome attributes

                * Neural network that maps local information to growth in addition to an input and output for every morphogen and signal.
                * Chemical U and V diffusion rate and feed and kill rate for each reaction diffusion morphogen system.
                * Energy diffusion rate. How much polyps diffuse energy across their membranes.
                * Signal decay for each short range signal.
        img(src='/imgs/virtual-corals/Digraph.gv.svg', width=400)
        p Example network with two morphogens. The 'genome' of a coral is the single network and the properties of the chemicals.
        :markdown
            ## Evolution
            The networks are evolved using a genetic algorithm for neural networks (neural-evolution) called [NEAT](http://nn.cs.utexas.edu/downloads/papers/stanley.ec02.pdf). The version used also allows arbitrary attributes to be evolved independent of the network.


            Additionally, a related method called *novelty search*[] is used. Novelty search is a fascinating optimization method that operates under the belief that search spaces are deceptive and abandoning objectives and pursuing the most novel things will paradoxically also produce the best ones. A belief that has far-reaching applications to all things involving goals. Practically speaking however, this fails on very sparse search spaces and a hybrid method was taken based on [] where fitness and novelty is used. However, the geometric mean of fitness and novelty was taken over the arithmetic mean used in the paper since the fitness was not normalized or in the same range.

            The challenge of employing novelty search was creating a good metric of how different two corals were. This required creating a vector of features for each coral that could be used in nearest-neighbor search. Describing a 3D coral in away that was rotation and position invariant stumped me for a while and my original hacky methods did not yield good results. I fortunately stumbled into the world of 3D shape descriptors which I was previously unaware of. Shape descriptors is a an area of research primarily motivated by allowing searches of 3D model databases. I used the D2 shape descriptor described here[] which is the histogram of distances between random pairs of points on the surface. This wonderfully elegant method captures lots of properties of the shape and is rotation and translation invariant. When the distances are normalized it is scale invariant as well. Additionally, an A2 shape descriptor is appended to that one which is a similar histogram of the angles between the normal vectors of random pairs. I have not found another use of shape descriptors for novelty search but it is a obvious pairing. The comparison the novelty vs regular is discussed below.


        h2 Morphogens
        //- img(src='http://www.karlsims.com/rd-kf-examples.png')
        :markdown
            Morphogens are chemicals which give rise to pattern formation during development. Reaction-diffusion is one set of equations that describe the interaction of multiple chemicals that may be used as morphogens. Varying the properties of two (U & V) chemicals can give rise to the patters seen below and are used commonly for artistic purposes. I used [gray-scott](https://groups.csail.mit.edu/mac/projects/amorphous/GrayScott/) over others (such as [Gierer–Meinhardt](http://www.scholarpedia.org/article/Gierer-Meinhardt_model)) because I found it more stable and that the parameter space was [well documented](https://mrob.com/pub/comp/xmorphia/). Given more time I would love to explore the efficacy of varying models.


            ## Light
            Light and shadows are givens in most graphics libraries; however, I could not find a good CPU algorithm reference. So, given that it's a simple vertical directional light, I use a spatial hash in the XZ plane to check for every vertex if there is another face above it. If not, the light is the angle incident to vertical. For angled lights I rotate all points around the X or Z axis.

            ## Fluid
            Accurate fluid,


        //-     :markdown
        //-         Examples of Gray-Scott patterns with varying feed and kill rates taken from [this](http://www.karlsims.com/rd.html) excellent tutorial.

        //-         In this system each polyp receives one chemical (U) as input and outputs another (V). The diffusion of the two was fixed and the feed and kill rates were traits that were evolved independently of the genome.


        h1#technical_results Technical Results
        h1#discussion Discussion

        :markdown
            Given the limited abilities of each polyp and simplicity of the networks, I was pleasantly surprised with the results. For genomes with around 30 dimensions, complex forms with ~15,000 vertexes are generated. And easily many more if allowed to run longer. Nature can only be the ultimate designer by first being the ultimate de-compressor.

            I also see this as evidence of the benefits that come from mimicking natures methods as apposed to it's results. L-systems and other elegant mathematical formulations may help to describe the patterns present in biology; however, plants and grown forms are not mathematical equations. They are a thoroughly optimized genome emergent in billions of coordinating cells adapting to their environments.

            In this work I did not desire to generate forms that look precisely like existing biology. Real plants and corals are solutions to problem defined by the physics of environments and complexities of ecosystems. The goal here is to see the emergence of complex solutions in an alien world that is coral inspired.

            I am inspired by the work of [Karl Sims](http://www.karlsims.com/evolved-virtual-creatures.html) and biologically-inspired generative designers such as [nervous system](https://n-e-r-v-o-u-s.com/projects/). The idea of species competition gave rise to this [ecology-modeling](/ecology-modeling.html) project as discussed in this [interview](https://www.labocine.com/spotlight/146).

            It's worth questioning the very attempt of mimicking as apposed to capturing nature. Where the later shows deference the former seems arrogant and self-delusional. Nothing man has made comes near to the scale of complexity of the human body. Perhaps it is the generative artists equivalent to the feeling of conquest that comes from climbing a mountain peak, coming from a deep impulse to dominate nature. Yet, viewing the biological motivated generative art as an attempt to capture the beauty of the biological mechanisms that give rise to the forms, may lead to deeper levels of awe.

            ## Future Work

            ## Personal

        div.align_left(style='display:inline-block;')
            :markdown
                1. Merks, Roeland MH, et al. "Polyp oriented modelling of coral growth." Journal of Theoretical Biology 228.4 (2004): 559-576.
                2. Kaandorp, Jaap A., et al. "Effect of nutrient diffusion and flow on coral morphology." Physical Review Letters 77.11 (1996): 2328.
                3. Osada, Robert, et al. "Shape distributions." ACM Transactions on Graphics (TOG) 21.4 (2002): 807-832.
//-     br
//-     h1 Algorithm




//-     h2 Over many time steps a coral is grown.
//-     img(src='/imgs/virtual-corals/growth3.jpg')

//-     //- h2 Evolve network with NEAT algorithm.
//-     h2 Over many generations the coral is optimized.
//-     img(src='/imgs/virtual-corals/evolution2.jpg')
//-     :markdown
//-         Optimization is done with [NEAT](http://nn.cs.utexas.edu/downloads/papers/stanley.ec02.pdf), each run is done with a population size of 60 for 100 generations.

//-     h2 Each polyp is a mesh vertex which has local information.
//-     img(src='/imgs/virtual-corals/coral_stuff.jpg')
//-     :markdown
//-         Polyps receive light according to their distance to the surface and angle of incidence. Polyps also are given the angle between themselves and the pull of gravity as well as the local surface curvature.

//-

//-     div.align_left(style='display:inline-block;')
//-         p Next Steps...
//-         :markdown
//-             * More varied environments - also vary importance of water and light and see corresponding changes in morphology.
//-             * Average across multiple environments (phenotypic palsticity)
//-             * Polyp memory
//-             * Other methods of signaling and morphogens
//-             * Try more modern optimizers - (learn reinforcement learning like the cool kids)
//-             * Learn to render (cinema4d?) like the really cool kids
//-     br
//-     //- img(src='https://insideclimatenews.org/sites/default/files/styles/colorbox_full/public/Coral-bleaching-at-Heron-Island.jpeg?itok=BRW6J_Xr')

//- //- [Biological Pattern Formation : from Basic Mechanisms to Complex Structures](http://eb.tuebingen.mpg.de/fileadmin/uploads/images/Research/emeriti/Hans_Meinhardt/Old_Paper_PDF/km.pdf) which dicussed Gierer–Meinhardt model.
