* {
  font-weight: 100;
}

body {
  margin: 0px;
  /* background-color: #fafafa; */
}


/* -------------------------------------------------------------------------- */

#label_container {
  width: 80%;
  padding-left: 10%;
}

#label_container h3 {
}

#project_container {
  /* margin: 1%; */
  /* margin: .5em;
  margin-bottom: 20%; */
  margin: 20px;
}

h1 {
  font-size: 2.5em;
  margin: 20px;
  /* margin-bottom: .25em; */
}

/* -------------------------------------------------------------------------- */
/* Labels. */

.label {
  /*float: left;*/
  color: gray;
  display:inline-block;
  margin-right: 1em;
  text-transform: capitalize;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#label_container h3 {
  margin: 0px;
}

.label.label_hidden {
  opacity: 0.3;
}

.label h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* Projects. */

.project {
  width: 315px;
  transition: all .2s ease-in-out;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  margin-bottom: 8px;
  position: relative;
  
  /* border-radius: 4px; */
  overflow: hidden;
  /* box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.05); */
  padding-bottom: 5px;
  /* mix-blend-mode: multiply; */
  /* filter: brightness(1.065); */
   /* mask-type: alpha;  */
  /* mask-type: luminance;  */
  /* mask-size: 100%; */
   
}
.project .preview-container {
  position: relative;
  /* display: flex; */
  /* background-color: white; */
  -webkit-mask-image: url(/imgs/squircle-white.png);
  mask-image: url(/imgs/squircle-white.png);
  mask-size: cover;
  mask-size: 100%, 100%;
  -webkit-mask-size: cover;
  -webkit-mask-size: 100%, 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
 }

.project:hover .description-container {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1.0;
}

.description-container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  opacity: 0.0;
  bottom: 0px;

  -webkit-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.project .description {
  color: white;
  opacity: 1.0;
  font-size: 1.2em;
  margin: 16px;
  /* margin: 0.25em; */
  /* position: absolute; */
  
}


.project:hover {
  /* box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.3); */
  /* background-color: white; */
}


.project .project_name {
  margin: 0.25em;
  margin-top: 0px;
}


.project p.date {
  position: absolute;
}

.project img {
  width: 315px;
  /* max-width:100/%; */
  /* height: 315px; */
}

.project a {
  display: contents;
  /*display: inline-block;*/
}
.project .project_content {
  /*position: absolute;*/
  /*bottom: 0px;*/
}

.show-on-hover {

  /* opacity: 0.2; */
  /* transition: opacity 0.2s ease-in-out; */
}

.project:not(.no_hover):hover {
  cursor: pointer;
  /*-ms-transform: scale(1.1, 1.1);*/
  /*-webkit-transform: scale(1.1, 1.1);*/
  /*transform: scale(1.1, 1.1);*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*-webkit-filter: grayscale(1);*/
  /*filter: grayscale(1);*/
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.project:not(.no_hover):hover .show-on-hover {
  opacity: 1.0;
}

.project.forms-of-life img {
  image-rendering: pixelated;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
}

.project.neural-tablets img {
  /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2)); */
}

.project.reaction-diffusion-3d img {
  filter: invert() drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
}

/* -------------------------------------------------------------------------- */
/* Labels in projects. */


.project .label {

  display: inline-block;
  /*float: left;*/
  font-size: 0.8em;
  /*margin: 0px;*/
  margin-top: 0px;
  /*margin-right: 5px;*/
}
.project .label h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}


.project .project_labels {
  /*position: absolute;*/
}

/* -------------------------------------------------------------------------- */
/* Image Grid. */
.image_grid {
  /*display:inline-block;*/

}
.image_grid img {
  display:inline-block;
  width: 180px;
  /*max-width: 25vw;*/
  /*float: left;*/
  margin: 10px;
}



/* -------------------------------------------------------------------------- */
video {
  cursor: pointer;
}


@media only screen and (max-device-width: 800px) {
    h1 {
      margin: 12px;;
    }
    .project {
      width: calc(50% - 4px);
      margin: 2px;
    }
    .project img {
      width: 100%;
      max-width: inherit;
      max-height: inherit;

    }
    #project_container {
      margin-left: 2px;
      margin-right: 2px;
    }

    #label_container h3 {
      font-size: 1em;
    }

}
