mixin label_mixin(label)
    //- if label in publicData['labels']
    //-     - var color = publicData['labels'][label]
    //- else
    //-     - var color = 'rgb(128, 128, 128)'
    .label(class= ""+label, data-name= ""+label)
        //- a(href='/#'+label)
        h3()!=label
        //- style='color:'+color,
