mixin footer_mixin(project)
    #footer
        //- #home.contact_column
            //- h2(style='text-decoration: underline;')
            p: a(href='/')!="< Projects"
        #about.contact_column
            a(href="/about.html" About)
                img(src='/imgs/icons/info.svg')
        #email.contact_column
            //- a(href="mailto:joelsimon6@gmail.com" target="_blank")
            //-     img(src='/imgs/icons/mail.svg')
            a(onclick="alert('joelsimon6@gmail.com')", style='cursor:pointer;')
                img(src='/imgs/icons/mail.svg')

        #github.contact_column
            //- p
            a(href='https://github.com/joel-simon/' target="_blank")
                img(src='/imgs/icons/github.svg')

        #twitter.contact_column
            a(href='https://twitter.com/_joelsimon' target="_blank")
                img(src='/imgs/icons/twitter.svg') 