mixin footer_mixin(project)
    #footer
        #contact_container
            #email.contact_column
                p
                    a(href="mailto:joelsimon6@gmail.com" target="_blank") Email

            #about.contact_column
                p
                    a(href="/about.html" About) About

            #github.contact_column
                p
                    a(href='https://github.com/Sloth6/' target="_blank") Github

            #twitter.contact_column
                p
                    a(href='https://twitter.com/_code_of_form_' target="_blank") Twitter
