include disqus
include footer
include google_analytics
doctype html

html
    head
        +ga_mixin()
        title Joel Simon
        script(defer, src='/libs/jquery.1.8.3.min.js')
        script(defer, src='/src/project.js')
        link(rel='stylesheet', href='/style/index.css')
        link(rel='stylesheet', href='/style/markdown.css')
        block meta_tags
    body
        block pre_header
        h2
            a(href='/')!="Joel Simon"
        .text_body
            block content
        block post_text
            //- +disqus_mixin()
        +footer_mixin()
