mixin project_mixin(project)
    if 'year' in project
        - project['labels'].push(project['year'])

    if !('hide' in project && project['hide'])

        .project(class=project['labels'])
            -
                var name = project["name"];
                name = name.replace(/\s+/g, '-').toLowerCase();
                var path = '/'+name+'.html'

            //- .show-on-hover
                //- h2!=project['name']

            a(href=path)
                img(src=project['img'])
            
            .show-on-hover
                h2!=project['name']

                //- p!=project['description']

                .project_labels
                    each label, i in project['labels']
                        +label_mixin(label)



